@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  --orange: rgb(211, 112, 0);
  background-color: rgb(247, 247, 255);
}

h3 {
  font-family: Poppins;
  font-size: 2rem;
  color: rgb(0, 65, 65);
}

.container {
  display: flex;
  flex-direction: column;
  gap: 50px;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

form input {
  box-shadow: rgba(1, 1, 43, 0.219) 5px 5px 10px;
  padding: 5px 10px;
  background-color: white;
  border: none;
  height: 50px;
  width: 200px;
  text-align: center;
}

input:focus {
  outline: none;
}

form input:hover {
  box-shadow: rgba(4, 4, 221, 0.219) 5px 5px 10px;
}

.btn {
  background-color: rgb(0, 145, 96);
  border: none;
  padding: 5px 10px;
  height: 40px;
  width: 10em;
  color: white;
  text-transform: capitalize;
}

.colors {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.single-color {
  width: 100px;
  height: 100px;
  background-color: aqua;
}
